<ion-header class="header-login" mode="ios">
    <ion-toolbar>
        <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-toolbar>

    <h1>Privacy Policy</h1>
</ion-header>

<ion-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maec enas dignissim aliquet suscipit. Nam mi augue, molestie vitae ullamcorper ut, dapibus nec massa. Nunc dignissim tincidunt tellus. Phasellus vel erat erat. </p>
    <p>In nec libero ut sem dignissim luctus pretium ac risus. In hac hab itasse platea dictumst. Duis ac augue ut erat convallis iaculis. Pellentesque condimentum, nibh quis dapibus mollis, orci velit  convallis lorem, non sollicitudin nisi ante iaculis enim. </p>
    <p>Vivamus ut nibh hendrerit, vulputate nisl sit amet, dictum nulla. Donec commodo congue gravida. Proin rhoncus, nulla id hendr sed lorem.</p>
    <p>Pellentesque maximus purus libero. Sed eget massa quis nunc  lacinia aliquet. Nam nec turpis et ante eleifend ornare. Vesti bulum pellentesque nibh vitae tristique tincidunt. Donec id lac inia erat. Quisque sit amet magna vestibulum, pellentesque elit eget, mollis dui. Aliquam erat volutpat. Praesent blandit bibe ndum ex et gravida. Pellentesque porttitor nunc ut dolor sodales, vitae elementum nulla dictum. </p>
</ion-content>