<ion-header class="header-login" mode="ios">
    <ion-toolbar>
        <ion-icon name="person"></ion-icon>
    </ion-toolbar>

    <form mode="ios">
        <ion-list mode="ios">
            <ion-item>
                <ion-input formControlName="search" type="text" placeholder="Search">
                </ion-input>
            </ion-item>
        </ion-list>

        <ion-row class="form-btn">
            <ion-col>
                <ion-button type="submit" expand="block" mode="ios">
                    <ion-icon name="search"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </form>

    <ion-toolbar>
        <ion-icon name="ios-funnel"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>
        <ion-list-header>
            <h1>The Head Honcho</h1>

            <ion-button class="btn">Sort by Top Deals</ion-button>
        </ion-list-header>
        <ion-item>
            <figure class="listing-img" style="background-image: url('assets/images/listing-img.jpg');">
                <figcaption>Deal 1 of 47 Live Deals</figcaption>
            </figure>
            <ion-label>
                <h3>White Horse Bar and Grill</h3>
                <cite>
                    <figure>
                        <svg viewBox="0 0 29.45 40">
                            <defs>
                                <style>
                                    .cls-red {
                                        fill: #c40202;
                                    }
                                </style>
                            </defs>
                            <title>Asset 10</title>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_3" data-name="Layer 3">
                                    <path class="cls-red"
                                        d="M14.73,0A14.74,14.74,0,0,0,0,14.73a14.37,14.37,0,0,0,1.29,6C5,28.79,12,37.3,14.11,39.71a.81.81,0,0,0,1.24,0c2.08-2.42,9.13-10.92,12.82-19a14.37,14.37,0,0,0,1.29-6A14.75,14.75,0,0,0,14.73,0Zm0,22.38a7.65,7.65,0,1,1,7.65-7.65A7.66,7.66,0,0,1,14.73,22.38Z" />
                                </g>
                            </g>
                        </svg>

                    </figure> 321 Main Street Boise, Texas
                </cite>
                <p>21 Users checked in</p>
                <div class="highlight">$1.00 Pints and $0.50 Wings</div>
                <ion-text>
                    <ul>
                        <li>
                            <figure><svg viewBox="0 0 20.87 35">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: #008ad6;
                                            }
                                        </style>
                                    </defs>
                                    <title>Asset 16</title>
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_4" data-name="Layer 4">
                                            <path class="cls-1"
                                                d="M12.84,5.78A2.89,2.89,0,1,0,10,2.89a2.88,2.88,0,0,0,2.88,2.89Zm.16,10h7.86V12.84H15.09L11.88,7.55A3,3,0,0,0,9.47,6.1a1.41,1.41,0,0,0-.8.16L0,9v8.35H2.89V11.4l3.37-1.12L0,35H2.89L7.55,22l3.69,5v8h2.88V24.72l-4-7.23,1.13-4.66Zm0,0" />
                                        </g>
                                    </g>
                                </svg></figure>
                            0.2 miles away
                        </li>
                        <li>Ending at 21:00 </li>
                    </ul>
                </ion-text>
            </ion-label>
        </ion-item>

        <ion-item>
            <figure class="listing-img" style="background-image: url('assets/images/listing-img.jpg');">
                <figcaption>Deal 2 of 47 Live Deals</figcaption>
            </figure>
            <ion-label>
                <h3>Gametime Brewery</h3>
                <cite>
                    <figure>
                        <svg viewBox="0 0 29.45 40">
                            <defs>
                                <style>
                                    .cls-red {
                                        fill: #c40202;
                                    }
                                </style>
                            </defs>
                            <title>Asset 10</title>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_3" data-name="Layer 3">
                                    <path class="cls-red"
                                        d="M14.73,0A14.74,14.74,0,0,0,0,14.73a14.37,14.37,0,0,0,1.29,6C5,28.79,12,37.3,14.11,39.71a.81.81,0,0,0,1.24,0c2.08-2.42,9.13-10.92,12.82-19a14.37,14.37,0,0,0,1.29-6A14.75,14.75,0,0,0,14.73,0Zm0,22.38a7.65,7.65,0,1,1,7.65-7.65A7.66,7.66,0,0,1,14.73,22.38Z" />
                                </g>
                            </g>
                        </svg>

                    </figure> 246 Brown Street Boise, Texas
                </cite>
                <p>21 Users checked in</p>
                <div class="highlight">Buy 1 Get 1 Free All Beers</div>
                <ion-text>
                    <ul>
                        <li>
                            <figure><svg viewBox="0 0 20.87 35">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: #008ad6;
                                            }
                                        </style>
                                    </defs>
                                    <title>Asset 16</title>
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_4" data-name="Layer 4">
                                            <path class="cls-1"
                                                d="M12.84,5.78A2.89,2.89,0,1,0,10,2.89a2.88,2.88,0,0,0,2.88,2.89Zm.16,10h7.86V12.84H15.09L11.88,7.55A3,3,0,0,0,9.47,6.1a1.41,1.41,0,0,0-.8.16L0,9v8.35H2.89V11.4l3.37-1.12L0,35H2.89L7.55,22l3.69,5v8h2.88V24.72l-4-7.23,1.13-4.66Zm0,0" />
                                        </g>
                                    </g>
                                </svg></figure>
                            0.2 miles away
                        </li>
                        <li>Ending at 21:00 </li>
                    </ul>
                </ion-text>
            </ion-label>
        </ion-item>

        <ion-item>
            <figure class="listing-img" style="background-image: url('assets/images/listing-img.jpg');">
                <figcaption>Deal 3 of 47 Live Deals</figcaption>
            </figure>
            <ion-label>
                <h3>Brew and Skew</h3>
                <cite>
                    <figure>
                        <svg viewBox="0 0 29.45 40">
                            <defs>
                                <style>
                                    .cls-red {
                                        fill: #c40202;
                                    }
                                </style>
                            </defs>
                            <title>Asset 10</title>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_3" data-name="Layer 3">
                                    <path class="cls-red"
                                        d="M14.73,0A14.74,14.74,0,0,0,0,14.73a14.37,14.37,0,0,0,1.29,6C5,28.79,12,37.3,14.11,39.71a.81.81,0,0,0,1.24,0c2.08-2.42,9.13-10.92,12.82-19a14.37,14.37,0,0,0,1.29-6A14.75,14.75,0,0,0,14.73,0Zm0,22.38a7.65,7.65,0,1,1,7.65-7.65A7.66,7.66,0,0,1,14.73,22.38Z" />
                                </g>
                            </g>
                        </svg>

                    </figure> 642 Long Street Boise, Texas
                </cite>
                <p>17 Users checked in</p>
                <div class="highlight">Free Cocktail w/ Any Entrée Purchase</div>
                <ion-text>
                    <ul>
                        <li>
                            <figure><svg viewBox="0 0 20.87 35">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: #008ad6;
                                            }
                                        </style>
                                    </defs>
                                    <title>Asset 16</title>
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_4" data-name="Layer 4">
                                            <path class="cls-1"
                                                d="M12.84,5.78A2.89,2.89,0,1,0,10,2.89a2.88,2.88,0,0,0,2.88,2.89Zm.16,10h7.86V12.84H15.09L11.88,7.55A3,3,0,0,0,9.47,6.1a1.41,1.41,0,0,0-.8.16L0,9v8.35H2.89V11.4l3.37-1.12L0,35H2.89L7.55,22l3.69,5v8h2.88V24.72l-4-7.23,1.13-4.66Zm0,0" />
                                        </g>
                                    </g>
                                </svg></figure>
                            1.1 miles away
                        </li>
                        <li>Ending at 21:30 </li>
                    </ul>
                </ion-text>
            </ion-label>
        </ion-item>

        <ion-item>
            <figure class="listing-img" style="background-image: url('assets/images/listing-img.jpg');">
                <figcaption>Deal 5 of 45 Live Deals</figcaption>
            </figure>
            <ion-label>
                <h3>Amigo Juan Mexican Cafe</h3>
                <cite>
                    <figure>
                        <svg viewBox="0 0 29.45 40">
                            <defs>
                                <style>
                                    .cls-red {
                                        fill: #c40202;
                                    }
                                </style>
                            </defs>
                            <title>Asset 10</title>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_3" data-name="Layer 3">
                                    <path class="cls-red"
                                        d="M14.73,0A14.74,14.74,0,0,0,0,14.73a14.37,14.37,0,0,0,1.29,6C5,28.79,12,37.3,14.11,39.71a.81.81,0,0,0,1.24,0c2.08-2.42,9.13-10.92,12.82-19a14.37,14.37,0,0,0,1.29-6A14.75,14.75,0,0,0,14.73,0Zm0,22.38a7.65,7.65,0,1,1,7.65-7.65A7.66,7.66,0,0,1,14.73,22.38Z" />
                                </g>
                            </g>
                        </svg>

                    </figure> 4301 Morris Ln, Texarkana 75503
                </cite>
                <p>27 Users checked in</p>
                <div class="highlight">$1.00 Pints and $0.50 Wings</div>
                <ion-text>
                    <ul>
                        <li>
                            <figure><svg viewBox="0 0 20.87 35">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: #008ad6;
                                            }
                                        </style>
                                    </defs>
                                    <title>Asset 16</title>
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_4" data-name="Layer 4">
                                            <path class="cls-1"
                                                d="M12.84,5.78A2.89,2.89,0,1,0,10,2.89a2.88,2.88,0,0,0,2.88,2.89Zm.16,10h7.86V12.84H15.09L11.88,7.55A3,3,0,0,0,9.47,6.1a1.41,1.41,0,0,0-.8.16L0,9v8.35H2.89V11.4l3.37-1.12L0,35H2.89L7.55,22l3.69,5v8h2.88V24.72l-4-7.23,1.13-4.66Zm0,0" />
                                        </g>
                                    </g>
                                </svg></figure>
                            6 miles away
                        </li>
                        <li>Ending at 22:00 </li>
                    </ul>
                </ion-text>
            </ion-label>
        </ion-item>

        <ion-item>
                <figure class="listing-img" style="background-image: url('assets/images/listing-img.jpg');">
                    <figcaption>Deal 1 of 47 Live Deals</figcaption>
                </figure>
                <ion-label>
                    <h3>Fuzzy's Taco Shop</h3>
                    <cite>
                        <figure>
                            <svg viewBox="0 0 29.45 40">
                                <defs>
                                    <style>
                                        .cls-red {
                                            fill: #c40202;
                                        }
                                    </style>
                                </defs>
                                <title>Asset 10</title>
                                <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_3" data-name="Layer 3">
                                        <path class="cls-red"
                                            d="M14.73,0A14.74,14.74,0,0,0,0,14.73a14.37,14.37,0,0,0,1.29,6C5,28.79,12,37.3,14.11,39.71a.81.81,0,0,0,1.24,0c2.08-2.42,9.13-10.92,12.82-19a14.37,14.37,0,0,0,1.29-6A14.75,14.75,0,0,0,14.73,0Zm0,22.38a7.65,7.65,0,1,1,7.65-7.65A7.66,7.66,0,0,1,14.73,22.38Z" />
                                    </g>
                                </g>
                            </svg>

                        </figure> 4849 Texas Blvd., Texarkana 75503
                    </cite>
                    <p>15 Users checked in</p>
                    <div class="highlight">$1.00 Pints and $0.50 Wings</div>
                    <ion-text>
                        <ul>
                            <li>
                                <figure><svg viewBox="0 0 20.87 35">
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                    fill: #008ad6;
                                                }
                                            </style>
                                        </defs>
                                        <title>Asset 16</title>
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_4" data-name="Layer 4">
                                                <path class="cls-1"
                                                    d="M12.84,5.78A2.89,2.89,0,1,0,10,2.89a2.88,2.88,0,0,0,2.88,2.89Zm.16,10h7.86V12.84H15.09L11.88,7.55A3,3,0,0,0,9.47,6.1a1.41,1.41,0,0,0-.8.16L0,9v8.35H2.89V11.4l3.37-1.12L0,35H2.89L7.55,22l3.69,5v8h2.88V24.72l-4-7.23,1.13-4.66Zm0,0" />
                                            </g>
                                        </g>
                                    </svg></figure>
                                6 miles away
                            </li>
                            <li>Ending at 23:00 </li>
                        </ul>
                    </ion-text>
                </ion-label>
            </ion-item>

    </ion-list>
</ion-content>