<ion-header class="header-login secondary" mode="ios">
    <ion-toolbar>
        <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-toolbar>

    <h1>Notiﬁcations</h1>
</ion-header>

<ion-content class="notiﬁcations-list">
    <ion-toolbar>
        <ion-title>Recent Notiﬁcations</ion-title>
    </ion-toolbar>
    <ion-text color="secondary" class="active">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
            at its layout.</p>
        <h6>Friday</h6>
    </ion-text>
    <ion-text color="secondary" class="active">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots</p>
        <h6>Friday</h6>
    </ion-text>
    <ion-text color="secondary">
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduce.</p>
        <h6>Friday</h6>
    </ion-text>


    <ion-toolbar>
        <ion-title>Earlier Notiﬁcations</ion-title>
    </ion-toolbar>
    <ion-text color="secondary">
        <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
        <h6>Wednesday</h6>
    </ion-text>
    <ion-text color="secondary">
        <p>The ﬁrst line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line.</p>
        <h6>Monday</h6>
    </ion-text>

</ion-content>