.change-password-form,
.add-restaurant-form {
    text-align: center;

    &.pt-5 {
        --padding-top: 15vh;
    }

    form {
        background: #F4F4F4;
        border-radius: 12px;
        border: solid 1px #ebebeb;
        width: 100%;
        max-width: 380px;
        margin: 0 auto 60px;
        padding: 20px;

        ion-list {
            background: transparent;
            padding: 0;
            margin: 0 0 25px;


            ion-item {
                --background: transparent;
                --padding-start: 0;
                margin-bottom: 20px;
                --min-height: 1px;
                --inner-padding-end: 0;

                &.item-has-focus {
                    --highlight-background: #75a500;

                    ion-label {
                        color: #75a500;

                        &.sc-ion-label-ios-h,
                        &.sc-ion-label-md-h {
                            color: #75a500;
                        }
                    }
                }
            }

            ion-label {
                color: #344900;

                &.sc-ion-label-ios-h,
                &.sc-ion-label-md-h {
                    color: #344900;
                    font-size: 13px;
                    transform: none;
                }



                ion-icon {
                    font-size: 15px;
                    display: inline-block;
                    vertical-align: -2px;
                }
            }

            ion-input.sc-ion-input-ios-h,
            ion-select {
                --padding-top: 0;
                --padding-left: 0;
                --padding-bottom: 0;
                --padding-right: 0;
            }

            ion-item:last-of-type {
                margin-bottom: 0;
            }

            ion-select {
                display: flex;
                width: 100%;
                max-width: 100%;
                padding-right: 5px;
            }

        }

        .form-btn {
            margin-bottom: -42px;
        }

        p {
            margin-bottom: 0;
            font-size: 100%;

            a {
                color: #344900;
            }

            &.text-right {
                text-align: right;
            }
        }

        ion-item+p {
            margin-top: 5px;
        }

    }
}