ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;

    .heading {
        background: #EDEDED;
        padding: 8px 16px;
        margin: 10px -16px;

        h1 {
            color: #555;
            font-size: 110%;
            line-height: normal;
            margin: 0;
        }
    }

    ion-card {
        background-repeat: no-repeat !important;
        background-position: top center !important;
        background-size: cover !important;
        display: flex !important;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 10px 16px;
        height: 52vw;
        max-height: 290px;
        position: relative;
        margin-left: 0 !important;
        margin-right: 0 !important;

        &::before {
            content: "";
            position: absolute;
            top: 60%;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 70%);
            z-index: 1;
        }

        ion-card-header {
            position: relative;
            z-index: 5;

            ion-card-title,
            ion-card-subtitle {
                --color: #fff;
                color: #fff;
            }
        }
    }



    &.notiﬁcations-list {
        ion-toolbar {
            text-align: left;
            border-bottom: solid 1px #555;

            ion-title {
                text-align: left;
            }
        }

        ion-text {
            border-bottom: solid 1px rgba(85, 85, 85, 0.3);
            margin: 0;
            display: block;
            padding: 12px 15px 12px 25px;
            position: relative;



            &:before {
                content: "";
                position: absolute;
                top: 21px;
                left: 10px;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background: #344900;
            }

            p {
                margin-bottom: 10px;
                color: #000;
            }

            h6 {
                color: #777;
                margin: 0;
            }

            &.active {
                background: #EBFFBB;
            }


        }

        ion-text+ion-toolbar {
            margin-top: 20px;
        }
    }

    &.payment-history-list {
        ion-text {
            border-bottom: solid 1px rgba(85, 85, 85, 0.3);
            margin: 0;
            display: block;
            padding: 12px 90px 12px 16px;
            padding-right: 90px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 21px;
                left: 0px;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background: #9CCB4B;
            }

            h4{
                color: #000;
                margin-bottom: 0;
                font-size: 105%;
                small{
                    display: block;
                    font-size: 80%;
                }
            }
            cite{
                font-style: normal;
                position: absolute;
                top: 12px;
                right: 0;
                font-size: 90%;
                text-transform: uppercase;
            }
        }
    }


}

app-settings,
app-res-settings {
    ion-item {
        --padding-start: 0;
        padding: 10px;
        --inner-border-width: 0px 0px 0px 0px;
        background: #fff;
        border: solid 1px #E2E2E2;
        margin-bottom: 20px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: solid 2px $color-secondary-th2;

        ion-label {
            font-family: $sans-serif-s;
            font-size: 110%;
            color: #555555;

        }

        ion-icon {
            position: absolute;
            top: 50%;
            right: 0;
            font-size: 19px;
            transform: translateY(-50%);
            color: #000;
        }
    }
}


app-profile,
app-profile-edit,
app-my-profile {

    .header-login form{
        width: 100%;
    }
    .header-login ion-toolbar {
        top: 20px;
        transform: translateY(0%);
    }

    .header-login .profile-section {
        width: 90%;
        margin: 80px 0 -290px;

        .profile-top ion-toolbar {
            position: static;
        }
    }

    .header-login .profile-section .profile-edit-form form {
        width: 100%;
    }

    .header-login .profile-section .profile-edit-form ion-item {
        border-radius: 0px;
        height: auto;
        padding: 0px;
        border: none;
        border-bottom: solid 1px #cecdd2;
        --background: transparent;
    }

    .header-login .profile-section .profile-edit-form .profile-form-btn {
        margin-bottom: -42px;
    }

    .header-login .profile-section .profile-edit-form ion-item ion-label {
        color: #344900;
        font-size: 13px;
        transform: none;

        ion-icon {
            display: inline-block;
            vertical-align: -2px;
        }
    }
}