<ion-header class="header-login secondary" mode="ios">
    <ion-toolbar>
        <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-toolbar>

    <h1>Change Password</h1>
</ion-header>

<ion-content class="change-password-form">

    <form mode="ios">
        <ion-list mode="ios">
            <ion-item>
                <ion-label position="stacked" color="primary">
                    <ion-icon name="lock"></ion-icon> Old Password
                </ion-label>
                <ion-input name="Oldpassword" type="password" formControlName="password" required
                    placeholder="*************">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">
                    <ion-icon name="lock"></ion-icon> New Password
                </ion-label>
                <ion-input name="Newpassword" type="password" formControlName="password" required
                    placeholder="*************">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">
                    <ion-icon name="lock"></ion-icon> Conﬁrm Password
                </ion-label>
                <ion-input name="Conﬁrmpassword" type="password" formControlName="password" required
                    placeholder="*************">
                </ion-input>
            </ion-item>

        </ion-list>

        <ion-row class="form-btn">
            <ion-col>
                <ion-button color="secondary" type="submit" expand="block" mode="ios">UPDATE</ion-button>
            </ion-col>

        </ion-row>
    </form>

    <div class="text-center have-acc">
        <p>Close</p>
    </div>

</ion-content>