app-splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d0dd3e;
    background: -moz-linear-gradient(top, #d0dd3e 0%, #9dcb4b 100%);
    background: -webkit-linear-gradient(top, #d0dd3e 0%, #9dcb4b 100%);
    background: linear-gradient(to bottom, #d0dd3e 0%, #9dcb4b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0dd3e', endColorstr='#9dcb4b', GradientType=0);


    ion-grid {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-col {
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
                display: block;
                width: 95%;
                height: 95%;
                max-width: 300px;
                max-height: 115px;
            }
        }
    }
}