<ion-header class="header-login secondary" mode="ios">
    <ion-toolbar>
        <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-toolbar>

    <h1>Subscription</h1>

    <ion-toolbar>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="subscription-section">
        <figure>
            <img src="assets/images/subscription-img.png">
        </figure>
        <ion-text>
            <ul class="tick-list">
                <li>It is a long established fact that a reader will be distracted</li>
                <li>Contrary to popular belief, Lorem Ipsum is not.</li>
                <li>There are many variations.</li>
            </ul>

            <div class="text-center">
                <ion-button color="secondary">
                    GET SUBSCRIPTION
                </ion-button>
                <p>Only $29.99/month</p>
            <p><a href="#">Skip</a></p>
            </div>

        </ion-text>
    </div>

</ion-content>