<ion-header class="header-login secondary" mode="ios" >
    <ion-toolbar>
        <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-toolbar>

    <h1>About Honcho</h1>
</ion-header>

<ion-content>
    <p>Honcho is a social gathering tool for all ages. We allow establishments to sit in the driver’s seat and bring in an inﬂux of consumers by advertising live deals in real time. The consumer can shop the best deals nearby for food and drink and see where the evening takes them...</p>
    <p>Business Owners, are you tired of running an empty bar on Thursdays when your competitor offers dollar cocktails? Honcho allows the chance to steal back customers by advertising a better deal/promotion. Simply ﬁre up Honcho and let the masses know who the Head Honcho in town really is. Further-more,</p>
    <p>prevent those business lulls on a typical Monday afternoon and bring in the crowds with a live deal of your choosing. Advertise trivia night, live watch parties, or free admission to your club! Customers, are you tired of the same deal with the same crowd at the bar you always go to around the corner? Get out of the house and ﬁnd new locations to socialize without breaking the bank. Let the deals dictate your plans for food, drinks, events or a cup of coffee!</p>
</ion-content>