<ion-header class="header-login">
    <ion-toolbar>
        <ion-icon name="person"></ion-icon>
    </ion-toolbar>

    <form mode="ios">
        <ion-list mode="ios">
            <ion-item>
                <ion-input formControlName="search" type="text" placeholder="Search">
                </ion-input>
            </ion-item>
        </ion-list>

        <ion-row class="form-btn">
            <ion-col>
                <ion-button type="submit" expand="block" mode="ios">
                    <ion-icon name="search"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </form>

    <ion-toolbar>
        <ion-icon name="notifications"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="heading">
        <h1>78 Boise Users utilizing deals</h1>
    </div>
    <ion-card style="background: url('assets/images/home-listing-img-1.jpg')">
        <ion-card-header>
            <ion-card-title>Drinks</ion-card-title>
            <ion-card-subtitle>47 Deals/19 Live</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <ion-card style="background: url('assets/images/home-listing-img-2.jpg')">
        <ion-card-header>
            <ion-card-title>Food</ion-card-title>
            <ion-card-subtitle>64 Deals/26 Live</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <ion-card style="background: url('assets/images/home-listing-img-3.jpg')">
        <ion-card-header>
            <ion-card-title>Events</ion-card-title>
            <ion-card-subtitle>16 Deals/7 Live</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <ion-card style="background: url('assets/images/home-listing-img-4.jpg')">
        <ion-card-header>
            <ion-card-title>Coffee</ion-card-title>
            <ion-card-subtitle>7 Deals/5 Live</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-content>