<ion-header>
    <ion-toolbar>
            <ion-icon name="person"></ion-icon>
    </ion-toolbar>

    <form mode="ios">
        <ion-list mode="ios">
            <ion-item>
                <ion-input formControlName="search" type="text" placeholder="Search">
                </ion-input>
            </ion-item>
        </ion-list>

        <ion-row class="form-btn">
            <ion-col>
                <ion-button type="submit" expand="block" mode="ios">
                    <ion-icon name="search"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </form>

    <ion-toolbar>
            <ion-icon name="notifications"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
</ion-content>