<ion-header class="header-login secondary" mode="ios">
    <ion-toolbar>
        <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-toolbar>

    <h1>Add Open Hours</h1>
</ion-header>

<ion-content class="add-restaurant-form">
    <form mode="ios">
        <ion-list mode="ios">

            <ion-item>
                <div class="left">
                    <ion-checkbox checked="true"></ion-checkbox>
                    <ion-label>
                        Monday
                    </ion-label>
                </div>
                <div class="left">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <ion-label>
                                    from
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                            <ion-col col-6>
                                <ion-label>
                                    to
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-item>
            <ion-item>
                <div class="left">
                    <ion-checkbox checked="true"></ion-checkbox>
                    <ion-label>
                        Tuesday
                    </ion-label>
                </div>
                <div class="left">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <ion-label>
                                    from
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                            <ion-col col-6>
                                <ion-label>
                                    to
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-item>
            <ion-item>
                <div class="left">
                    <ion-checkbox checked="true"></ion-checkbox>
                    <ion-label>
                        Wednesday
                    </ion-label>
                </div>
                <div class="left">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <ion-label>
                                    from
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                            <ion-col col-6>
                                <ion-label>
                                    to
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-item>
            <ion-item>
                <div class="left">
                    <ion-checkbox checked="true"></ion-checkbox>
                    <ion-label>
                        Thursday
                    </ion-label>
                </div>
                <div class="left">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <ion-label>
                                    from
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                            <ion-col col-6>
                                <ion-label>
                                    to
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-item>
            <ion-item>
                <div class="left">
                    <ion-checkbox checked="true"></ion-checkbox>
                    <ion-label>
                        Friday
                    </ion-label>
                </div>
                <div class="left">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <ion-label>
                                    from
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                            <ion-col col-6>
                                <ion-label>
                                    to
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-item>
            <ion-item>
                <div class="left">
                    <ion-checkbox></ion-checkbox>
                    <ion-label>
                        Saturday
                    </ion-label>
                </div>
                <div class="left">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <ion-label>
                                    from
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                            <ion-col col-6>
                                <ion-label>
                                    to
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-item>
            <ion-item>
                <div class="left">
                    <ion-checkbox></ion-checkbox>
                    <ion-label>
                        Sunday
                    </ion-label>
                </div>
                <div class="left">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <ion-label>
                                    from
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                            <ion-col col-6>
                                <ion-label>
                                    to
                                </ion-label>
                                <ion-datetime mode="ios" displayFormat="h:mm A" minuteValues="0,15,30,45"
                                    value="09:00Z"></ion-datetime>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-item>


        </ion-list>

        <ion-row class="form-btn">
            <ion-col>
                <ion-button color="secondary" type="submit" expand="block" mode="ios">Add Hours</ion-button>
            </ion-col>

        </ion-row>
    </form>

    <div class="text-center have-acc">
        <p>Close</p>
    </div>


</ion-content>