<ion-header class="header-login" mode="ios">
    <ion-toolbar>
        <ion-icon name="person"></ion-icon>
    </ion-toolbar>

    <form mode="ios">
        <ion-list mode="ios">
            <ion-item>
                <ion-input formControlName="search" type="text" placeholder="Search">
                </ion-input>
            </ion-item>
        </ion-list>

        <ion-row class="form-btn">
            <ion-col>
                <ion-button type="submit" expand="block" mode="ios">
                    <ion-icon name="search"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </form>

    <ion-toolbar>
        <ion-icon name="ios-funnel"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>
            <ion-img src="assets/images/listing-img.jpg"></ion-img>
            <ion-label>
                <h6>321 Main Street Boise, Texas <small>0.2 miles away</small></h6>
                <cite>115 Subscribers</cite>
            </ion-label>
        </ion-list-header>
        <div class="deals-heading">
                Head Honcho! Deal 3 of 47 Live Deals
        </div>
        <ion-item>
            <h2>1 Mug of Draught Beer (500ml) <small>$1.00</small></h2>
            <p>Valid on: <strong>Today</strong></p>
            <p>Live at: <strong>09:00 PM</strong></p>

            <div class="detail-footer">
                <a href="#" >Plan To Attend</a>
                <ion-button >CHECK IN</ion-button>
            </div>
        </ion-item>
    </ion-list>

</ion-content>