<ion-header class="header-login" mode="ios">
    <ion-toolbar>
        <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-toolbar>

    <div class="profile-section">
            <div class="profile-top">
                <ion-toolbar>
                    <ion-icon name="ios-settings"></ion-icon>
                </ion-toolbar>
                <div class="profile-pic">
                    <figure style="background-image:url('assets/images/profile-img.png');"></figure>
                    <ion-label>
                        Gabrial
                    </ion-label>
                    <a href="mailto:lorem.ipsum@lorem.com">lorem.ipsum@lorem.com</a>
                </div>
                <ion-toolbar>
                    <ion-icon name="md-create"></ion-icon>
                </ion-toolbar>
            </div>

            <ion-list>
                <ion-item>
                    <ion-label>Change Password</ion-label>
                    <ion-note slot="end">
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </ion-note>
                </ion-item>
                <ion-item>
                    <ion-label>About Honcho</ion-label>
                    <ion-note slot="end">
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </ion-note>
                </ion-item>

            </ion-list>


        </div>


</ion-header>

<ion-content>



</ion-content>